
<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Create a new article</h1>
					<%= render 'form', article: @article %>
			</div>
		</div>
	</div>
</div>
<nav class="navbar is-fixed-bottom bottom">
    <div class="navbar-menu bottom">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            
          </p>
      </div>
    </div>
  </nav>