
$info: #22223B;
$info-invert: #F2E9E4;
$navbar-burger-color: #F2E9E4;
$navbar-background-color: #22223B;
$navbar-item-hover-background-color: #22223B;
$navbar-item-color: #F2E9E4;
$navbar-dropdown-arrow: #F2E9E4;
$navbar-tab-active-color: #F2E9E4;
$navbar-tab-active-background-color: #22223B;
$navbar-dropdown-background-color: white;


@import "bulma";

//Hover-over color for title
.title :hover{
    color: #9A8C98 !important;
}

//background
html {
	background-color: $info-invert;
}

//Default color of title
.tan {
	color: $navbar-item-color;
}

//Form text color
.label, .is-2, .is-5 {
	color: $info !important;
}

//remove margin underneath flash notifications
.notification:not(:last-child) {
	margin-bottom: 0;
}

// margin to the right and bottom of checkbox
.boolean {  
	margin-right: 10px;
	margin-bottom: 5px;
  }

// get rid of default simple form ".." underneath required fields' "*"
form abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }

//remove rounding from flash notifications and make them smaller
.notification {
	border-radius: 0% !important;
	height: 1rem;
}

